---
import { Icon } from "astro-icon/components";
---

<Icon
  name="calendari-gradient"
  class="logo"
  width={495}
  height={623}
  color="black"
  aria-hidden="true"
/>
<h1>
  <slot />
  {
    Astro.slots.has("subheading") ? (
      <p class="subheading">
        <slot name="subheading" />
      </p>
    ) : null
  }
</h1>

<style>
  .logo {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }
  h1 {
    font-size: 3rem;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 4rem;
  }
  h1 :global(emph) {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100%;
    background-position: 0%;
    font-weight: 800;
  }
  .subheading {
    font-size: 1rem;
    font-weight: normal;
  }
</style>
