---
import AnchorButton from "@components/AnchorButton.vue";
import { getProviderUrls, AUTH_PROVIDERS as providers } from "@server/auth";
import GitHubIcon from "~icons/mdi/github";
const icons = {
  "mdi:github": GitHubIcon,
};
---

<ul role="list" class="provider-list">
  {
    providers.map((provider) => (
      <li class="provider">
        <AnchorButton href={getProviderUrls(provider.name).begin}>
          {provider.icon === "mdi:github" ? (
            <GitHubIcon width={32} height={32} />
          ) : null}
          Log in using {provider.name}
        </AnchorButton>
      </li>
    ))
  }
</ul>

<style>
  .provider-list {
    display: grid;
    grid-template-columns: auto-fit;
    gap: 2rem;
    padding: 0;
    max-width: fit-content;
    margin: 2rem auto;
  }
  .provider {
    list-style: none;
  }
</style>
