---
import { getProviderUrls, AUTH_PROVIDERS as providers } from "@server/auth";
import GitHubIcon from "~icons/mdi/github";
const icons = {
  "mdi:github": GitHubIcon,
};
---

<ul role="list" class="provider-list">
  {
    providers.map((provider) => (
      <li class="provider">
        <a href={getProviderUrls(provider.name).begin}>
          {provider.icon === "mdi:github" ? (
            <GitHubIcon width={32} height={32} />
          ) : null}
          Log in using {provider.name}
        </a>
      </li>
    ))
  }
</ul>

<style>
  .provider-list {
    display: grid;
    grid-template-columns: auto-fit;
    gap: 2rem;
    padding: 0;
    max-width: fit-content;
    margin: 2rem auto;
  }
  .provider {
    list-style: none;
    display: flex;
    padding: 1px;
    background-color: #23262d;
    background-image: none;
    background-size: 400%;
    border-radius: 7px;
    background-position: 100%;
    transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    box-shadow: inset 0 0 0 1px oklch(100% 0.014 267.05 / 20%);
  }
  .provider:is(:hover, :focus-within) {
    background-position: 0;
    background-image: var(--accent-gradient);
  }
  .provider > a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-decoration: none;
    line-height: 1.4;
    padding: calc(1rem - 1px) calc(2rem - 1px);
    border-radius: 6px;
    color: white;
    background-color: oklch(27% 0.015 267 / 80%);
  }
  .provider > a > svg:first-child {
    margin-right: 2ch;
  }
</style>
