---
import "@fontsource-variable/inter";

interface Props {
  title: string;
}

const { title } = Astro.props;
const pageTitle = title
  ? `Calendari.\u2000${/[\.?!]$/.test(title) ? title : title + "."}`
  : "Calendari.";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Calendari is an API intended to synchronize calendars from various sources. Upload events using a simple HTTP API, and consume them as iCal links."
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>
<style is:global>
  :root {
    --accent: 72% 0.25 3;
    --accent-alt: 92% 0.17 98;
    --accent-light: 82% 0.15 50;
    --accent-dark: 20% 0.1 350;
    --accent-gradient: linear-gradient(
      20deg,
      oklch(var(--accent)) 0%,
      oklch(var(--accent-alt)) 100%
    );
  }
  html {
    font-family: "Inter Variable", system-ui, sans-serif;
    background: #13151a;
    background-size: 224px;
  }
  body {
    margin: 0;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }

  main {
    margin: auto;
    padding: 1rem 0 10vh;
    width: 47rem;
    --article-inset: 4rem;
    max-width: calc(100% - 1rem);
    color: white;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
  }
  @media (max-width: 580px) {
    main {
      --article-inset: 2rem;
    }
  }
  @media (max-width: 450px) {
    main {
      --article-inset: 1rem;
    }
  }
  @media (max-width: 256px) {
    main {
      --article-inset: 8px;
    }
  }

  :where(main > *:not(svg, img)),
  :where(main > astro-island > *:not(svg, img)) {
    margin-left: var(--article-inset);
    margin-right: var(--article-inset);
  }

  emph {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 300%;
    background-position: 0%;
    font-weight: 800;
  }

  h2 {
    margin-top: 0;
    margin-bottom: 1rem;
  }
  p {
    font-size: 1.05rem;
    margin-top: 0;
    margin-bottom: 1rem;
  }
</style>
